.text-center {
    text-align: center;
    /* margin-top: 0; */
    text-decoration: none;
    color:#333258;
    font-size: 2rem;
    /* padding: 5px;  */
    padding-right: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: #F3F3F3;;
}
.content-row {
    background-color: #F3F3F3;;
}
