.mb-3{
    color: #333258 !important;
    
}

.custom-btn {
    background-color: #333258 !important; /* Replace #FF0000 with your desired hex color code */
    /* Add other custom styles here if needed */
    outline: none !important;
  }

  .custom-btn:hover {
    background-color: #F36958 !important; /* Change this to the desired hover background color */
    color: white !important; /* Change this to the desired hover text color */
  }

