.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333258 !important;
    color: white;
    padding: 15px 0;
    height: auto;
}

.footer-content {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #333258 !important;
}

.icon-content {
    text-align: center;
    background-color: #333258 !important;
}

.icon-content a {
    margin-left: 30px;
}

.icon-content a svg{
    font-size: 30px;
    color: #F36958;
    background-color: #333258 !important;
}

.icon-content a svg:hover {
    transform: scale(1.2);
    opacity: 1;
    background-color: #333258 !important;
    color: white;
}

footer {
    height: auto;
    background-color: #333258 !important;
}

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333258 !important;
    color: white;
    padding: 15px 0;
    height: auto;
}

/* Add these styles to fix the footer positioning */
@media (max-height: 700px) {
    .footer-container {
        position: relative; /* Change to relative position when screen height is small */
    }
}